/* GENERAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVIGATION BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: #111;
  color: white;
}
h2{color:rgb(227, 165, 8) ;

}

.nav-items {
  list-style: none;
  display: flex;
  gap: 2em;
}
.nav-items a {
  text-decoration: none;
  color: #18c22e;
  font-weight: bold;
}

.search-box input {
  padding: 0.6em;
  border-radius: 5px;
  border: none;
}
.container { margin: 50;
text-align: center;}



.search-box button {
  padding: 0.6em 1em;
  background-color: rgb(227, 165, 8);
  border: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  padding: 3em;
  gap: 3em;
}


/* CONTROL PANEL */
.control-panel {
  width: 40%;
  background-color: #d6cece;
  padding: 2em;
  border-radius: 10px;
}

.control-panel h1 {
  margin-bottom: 1em;
}

.control-panel label {
  display: block;
  margin-top: 1em;
  font-weight: bold;
}

.control-panel select {
  width: 100%;
  padding: 0.7em;
  margin-top: 0.5em;
}

.control-btn {
  margin-top: 2em;
  width: 100%;
  padding: 1em;
  background-color: rgb(227, 165, 8);
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
}

/* IMAGE / LIVE VIEW SECTION */
.image-section {
  width: 60%;
}
.image-section h1{text-align: center;

}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: 2em;
}

.image-grid img {
  width: 100%;
  border-radius: 10px;
}
.contact-section {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}