body{ 
     font-family: "Times new Roman, Arial ";
     font-style: italic;
     margin: 0%;
}
h1{color: rgb(24, 20, 19);

}
p{
   font-size: 12px; 
}
p:first-letter {text-transform: capitalize;}
footer{
   background: #004aac;
   padding: 15px;
   text-align: center;
}
header{
   background: #004aac;
   color: white;
   padding: 20px;
   text-align: center;
}
nav a{
color: rgb(236, 23, 23);
margin: 0 15px;
font-weight: bold;
}
form input,button{
   padding: 12px;
   margin-top: 10px;
   border-radius: 5px;
}
.details{
   background: #e9e8e6;
   padding: 40px;
}
.image-container img{
   width:100%;
   height:auto;
   border-radius: 10px;
}
.main-title {
   background: cyan;
   text-align: center;
   padding: 8%;
}
.speaker-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
   background: #e6f7ff;

}
.speaker-photo{
   width: 40%;
}
.speaker-photo img{width: 100%;
   border-radius:10px;
}
.speaker-info{
   width: 55%;
   font-size: 18px;
}

.time{
   color: red;
   font-weight: bold;
}

.schedule-item{
   padding: 20px;
   border-radius: 1px solid #ccc;
}
.map{width: 70%;}
.map img{
   width:80%;
   border-radius: 10px;
}
.venue-details{width: 45%; }
.venue-container{
display: flex;
justify-content: space-between;
padding: 40px;
background: #f3f8ff;
}

